@keyframes mousemove {

    /*animação mousemove home*/
    0% {
        opacity: 0;
        transform: translateY(2px);

    }

    100% {
        opacity: 1;
        transform: translateY(12px);
    }
}

@keyframes scrollMove {

    /*animação scrollMove home*/
    0% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(15px);
    }
}



@keyframes shake {

    /*animação mediaSocial home*/
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }
}

@keyframes heartpulse {

    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

:root {
    --green: #10B083;
    --grey: #DBDBDB;
    --white: #ffffff;
    --black: #000000;
    --DarkOne: #1B1920;
    --DarkTwo: #1F1F23;


    --greenday: #01E869;
    --greenTwo: #2FD46C;
    --greenThree: #4DBD82;
    --DarkTwo1: #222027;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/*  menu início*/
.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: var(--black);
    position: fixed;
    z-index: 999;
    padding: 10px 0;
    transition: all 0.3s linear;
}

.header.sticky {
    height: 90px;
}

.menuSpace {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1100px;
    padding: 0 10px;
}

/* logotipo */
.menuSpace .logotipo {
    width: 50px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logotipo img {
    width: 35px;
    height: 58px;
    transition: all 0.6s ease;
}

.logotipo img:hover {
    transform: scale(1.2);
}

/* media-social */
.media-social {
    display: flex;
    column-gap: 8px;
}

.media-social .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    text-decoration: none;
    font-size: 20px;
    color: var(--white);
    border-radius: 50%;
    outline: 2px solid transparent;
    transition-property:
        outline-offset, outline-color,
        background-color;
    transition-duration: .25s;
}

.media-social .icon:hover {
    outline-offset: 4px;
}

.media-social .icon:hover i {
    animation: shake .25s;
    font-size: 19px;
}

.media-social .icon--instagram:hover {
    background-image: radial-gradient(circle at 30% 107%,
            #fdf497 0%, #fdf497 5%,
            #fd5949 45%, #d6249f 60%,
            #285AEB 90%);
    outline-color: #a02d76;
}

.media-social .icon--whatsapp:hover {
    background-color: #2ea44f;
    outline-color: #2ea44f;
}

.media-social .icon--mail:hover {
    background-color: #cfac10;
    outline-color: #cfac10;
}

/* menu */
#nav a {
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    transition: all 0.5s ease-in;
    border-bottom: 2px solid var(--black);
    border-radius: 15px 15px 0 15px;
    background: linear-gradient(#222222, var(--black));
}

#nav a:hover {
    color: var(--green);
    border-bottom: 2px solid var(--green);
}

.menu {
    display: flex;
    list-style: none;
    gap: 0.3rem;
}

.menu a {
    display: block;
    padding: 0.5rem;
}

#btn-mobile {
    display: none;
    color: var(--green);
}

/* button default */
.btn-link {
    padding: 12px;
    border: none;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    transition: 300ms;
    text-decoration: none;
    background-color: transparent;
}

.btn-link .btn-title {
    color: var(--green);
    position: relative;
    transition: 300ms;
    transition-delay: 300ms;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

.btn-link:before {
    content: '';
    position: absolute;
    width: 0%;
    height: 0%;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    transition: 0.8s;
    transition-delay: 0.3s;
    background-color: var(--green);
}

.btn-link div {
    transition: 300ms;
    position: absolute;
    background-color: var(--green);
}

.btn-link .btn-top {
    width: 15px;
    height: 2px;
    top: 0;
    left: 0;
}

.btn-link .btn-bottom {
    width: 15px;
    height: 2px;
    bottom: 0;
    right: 0;
}

.btn-link .btn-left {
    width: 2px;
    height: 15px;
    top: 0;
    left: 0;
}

.btn-link .btn-right {
    width: 2px;
    height: 15px;
    bottom: 0;
    right: 0;
}

.btn-link:hover .btn-title {
    color: var(--white);
    text-shadow: 0 0 4px var(--DarkOne);
}

.btn-link:hover:before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.btn-link:hover .btn-top,
.btn-link:hover .btn-bottom {
    width: 100%;
}

.btn-link:hover .btn-left,
.btn-link:hover .btn-right {
    height: 100%;
}

/* códigos gerais */
section {
    padding: 110px 10px 0 10px;
}

section .title {
    font-family: 'Major Mono Display', monospace;
    text-align: center;
    font-size: 23px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    position: relative;
    color: var(--white);
}

section .title::after {
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 14px;
    background: transparent;
    color: var(--green);
    padding: 5px;
    transform: translateX(-50%);
    width: 80vw;
}

.about,
.solution,
.portfolio,
.price,
.contact,
.footer {
    background-color: var(--black);
    font-family: 'Poppins', sans-serif;
}

.about .about-content,
.solution .solution-content,
.portfolio .portfolio-content,
.price .price-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.max-width {
    max-width: 1100px;
    margin: auto;
    padding: 0 10px 30px 10px;
}

/* section homepage */
.homepage {
    background-color: var(--black);
    height: 100vh;
    min-height: 500px;
}

.homepage .home-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px 0;
}

.text-content-up {
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-content-up .text-1 {
    color: var(--white);
    text-shadow: 1px 1px 0px #000;
    font-size: 25px;
    margin-right: 5px;
    font-family: 'Major Mono Display', monospace;
}

.text-content-up .text-bar {
    height: 10px;
    width: 37%;
    background-color: var(--white);
}

.text-content-center .text-2 {
    font-size: 60px;
    color: var(--green);
    text-shadow: 5px 5px 0px #000;
    font-family: 'Major Mono Display', monospace;
}

.text-content-center .text-3 {
    font-size: 25px;
    line-height: 90px;
    text-shadow: 2px 2px 0px #000;
    font-family: 'Major Mono Display', monospace;
}

.text-content-center .text-3 span {
    color: var(--white);
}

.text-content-down {
    color: var(--white);
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.scroll-down {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    animation: scrollMove 1.5s infinite ease-in alternate;
}

.scroll-down p {
    transform: rotate(-270deg);
}

/*  section Sobre  */
.about .title::after {
    content: "-Quem sou eu-";
}

.about .about-content .left {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right .text {
    font-size: 25px;
    margin-bottom: 10px;
    color: var(--white);
}

.about .about-content .right .text span {
    color: var(--green);
}

.about .about-content .right p {
    text-align: justify;
    font-size: 15px;
    color: var(--white);
}

.about .about-content .left img {
    margin-top: 20px;
    width: 350px;
    height: 380px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 8px -12px 0px -2px var(--green);
}

/*  section solution */
.solution .title::after {
    background: transparent;
    content: "-Que oferecemos-";
}

.solution-content {
    gap: 30px;
}

.solution-card {
    width: calc(33% - 30px);
    height: 200px;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.solution-card-text {
    height: 200px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px 20px 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    transition: all 0.7s ease-in-out;

}

.solution-card-text h1 {
    color: var(--white);
    text-shadow: 1px 1px 0px #000;
}

.solution-card-text h1 span {
    color: var(--green);
}

.solution-card-text h1,
.solution-card-text p {
    margin-bottom: 15px;
}

.solution-card-text:hover {
    background-color: rgba(16, 176, 131, 0.2);
    box-shadow: 0px 0px 1px 2px var(--green);
}

.solution-card.one {
    background-image: url('assets/images/services/goran-ivos.webp');
}

.solution-card.two {
    background-image: url('assets/images/services/ben-kolde.webp');
}

.solution-card.three {
    background-image: url('assets/images/services/john-schnobrich.webp');
}

/* beneficios */
.benefits {
    padding: 0px;
    max-width: 100vw;
    background-color: var(--green);
}

.benefit {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    justify-content: center;
}

.benefit .card-benefit {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    padding: 20px 0;
}

.benefit .card-benefit .iconb {
    color: var(--DarkOne);
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-benefit:hover i {
    animation: shake .25s;
    font-size: 28px;
    cursor: default;

}

.benefit .card-benefit h1 {
    font-size: 14px;
    text-transform: uppercase;
    color: var(--DarkOne);
    font-weight: 500;
    text-shadow: 0 0px 1px var(--DarkOne);
    text-align: center;
}

.benefit .card-benefit p {
    font-size: 12px;
    text-align: center;
    color: var(--DarkOne);
    text-shadow: 0 0px 1px var(--DarkOne);
}

/* section portfolio */
.portfolio .title::after {
    content: "-Nossos trabalhos-";
    background-color: transparent;
}

.portfolio-content {
    flex-direction: column;
}

.portfolio-content-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    column-gap: 30px;
    border: 1px solid var(--green);
    background-color: var(--green);
    border-radius: 10px;
    height: 47px;
    padding: 0 20px;
    color: var(--DarkOne);
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    row-gap: 20px;
    box-shadow: 0px 0px 5px var(--DarkOne);
    margin-bottom: 30px;
}

.portfolio-content-filter li.active {
    color: #fff;
    text-shadow: 0 1px 1px var(--DarkOne);
}

.portfolio-content .itens {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 25px;
    gap: 40px;
}

.item:hover {
    color: #fff;
    cursor: pointer;
}

.itens .item {
    list-style: none;
}

.portfolio-card {
    width: 320px;
    height: 200px;
    background: var(--green);
    position: relative;
    box-shadow: 0px 2px 0px var(--green);
    transition: all .3s ease-in-out;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    cursor: default;
}

.portfolio-card-info {
    position: absolute;
    bottom: 0;
    width: 320px;
    height: 200px;
    padding: 0.3rem 0.7rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase;
}

.portfolio-card-img {
    background-size: cover;
    background-repeat: no-repeat;
    width: 320px;
    height: 200px;
    position: absolute;
    transition: all .8s ease-in-out;
    z-index: 2;
    border-radius: 5px;
}

.portfolio-card-img01 {
    background: url('assets/images/portfolio/img03_land.webp');
}

.portfolio-card-img02 {
    background: url('assets/images/portfolio/img02_land.webp');
}

.portfolio-card-img03 {
    background: url('assets/images/portfolio/img01_land.webp');
}

.portfolio-card-img04 {
    background: url('assets/images/portfolio/img04_site.webp');
}

.portfolio-card-img05 {
    background: url('assets/images/portfolio/img05_site.webp');
}

.portfolio-card-img06 {
    background: url('assets/images/portfolio/img06_site.webp');
}

.portfolio-card-img07 {
    background: url('assets/images/portfolio/img07_land.webp');
}

.portfolio-card-img08 {
    background: url('assets/images/portfolio/img08_site.webp');
}

.portfolio-card-img09 {
    background: url('assets/images/portfolio/img09_loja.webp');
}

.portfolio-card-title {
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 2px;
    color: #fff;
    text-shadow: 0 1px 3px var(--DarkOne);
}

.portfolio-card-subtitle {
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 0.8em;
    color: var(--DarkOne);
    font-weight: 600;
    transition: all .8s ease-in-out;
    text-align: center;
    border: 2px solid var(--DarkOne);
    padding: 4px 6px;
    border-radius: 5px;
}

.portfolio-card-subtitle:hover {
    background-color: var(--DarkOne);
    color: var(--green);
    border: 2px solid var(--green);
}

.portfolio-card:hover .portfolio-card-img {
    height: 130px;
    border-radius: 5px 5px 0 0;
}


/* section price */
.price-content {
    gap: 40px;
}

.price-content-card {
    padding: 30px 20px;
    width: calc(33% - 30px);
    box-shadow: 0 0 2px var(--green);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background: #0c0c0c;
    color: var(--white);
    gap: 20px;
    list-style-position: inside;
}

.price .title::after {
    content: "-Conheça os preços-";
}

.price-content-card h1 {
    font-size: 1.5em;
    line-height: 30px;
    text-align: center;
}

.price-content-card h1 span {
    color: var(--green);
}

.price-content-card p {
    font-size: 12px;
    text-align: center;
}

.price-content-card .price-btn {
    align-self: center;
}

.list-price li {
    color: var(--green);
    list-style-type: circle;
    font-size: 0.9rem;
    line-height: 40px;
}

.price-card {
    margin-top: 30px;
}

.price-card .priceOne {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

.price-card .priceTwo {
    font-size: 1.9rem;
    text-align: center;
    font-weight: 600;
    line-height: 60px;
    color: var(--green);
}

.price-card p {
    font-size: 14px;
    line-height: 23px;
}

.price-card .priceThree {
    color: var(--green);
}

/*  section Contato  */
.contact .title::after {
    content: "-Fale conosco-";
}

.contact .contact-content .column {
    width: calc(50% - 30px);
    color: var(--white);
}

.contact .contact-content {
    align-items: flex-start;
}

.contact .contact-content .left p {
    text-align: justify;
    color: var(--white);
}

.contact .contact-content .text {
    font-size: 20px;
    margin-bottom: 10px;
}

.contact .contact-content .left .icons {
    margin: 10px 0;
}

.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info {
    margin-left: 30px
}

.contact .contact-content .row .info .sub-title {
    color: var(--white);
}

.contact .contact-content .row ion-icon {
    font-size: 25px;
    color: var(--green);
}

.contact .rigth form .fields {
    display: flex;
}

.contact .rigth form .field,
.contact .rigth form .fields .field {
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
}

.contact .rigth form .field input,
.contact .rigth form .textarea textarea {
    width: 100%;
    height: 100%;
    border: 1px solid var(--green);
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.contact .rigth form .name {
    margin-right: 10px;
}

.contact .rigth form .email {
    margin-left: 10px;
}

.contact .rigth form .textarea {
    width: 100%;
    height: 80px;
}

.contact .rigth form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .rigth form .button {
    width: 170px;
    height: 47px;
}

/*  section footer  */
.footer {
    padding: 40px 0;
    text-align: center;
    background: linear-gradient(to top, #000, #171717);
}

.footer .logotipo img {
    width: 20px;
    height: 35px;
    transition: all 0.6s ease;
}

.footer .logotipo img:hover {
    transform: scale(1.2);
}


.footer .footer-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer span,
.footer .copy {
    color: var(--white);
    /* margin: 10px 0 0 0; */
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}

.footer span a {
    color: var(--green);
    text-decoration: none;
}

.footer .footer-text .heartPulse {
    width: 20px;
    height: 20px;
    animation: heartpulse 1.2s linear alternate infinite;
}

/* btn-voltar-home */
.scroll-up-btn {
    display: inline-flex;
    justify-content: center;
    position: fixed;
    width: 25px;
    height: 40px;
    border-radius: 7px;
    right: 7.8%;
    bottom: 35px;
    text-align: center;
    line-height: 40px;
    color: var(--green);
    font-size: 25px;
    z-index: 248;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 2px 1px var(--green);
}

.scroll-up-btn .up {
    position: absolute;
    animation: mousemove 1s infinite ease-in alternate;
}

.scroll-up-btn.show {
    bottom: 25px;
    opacity: 1;
    pointer-events: auto;
}

/*  responsividade  */
@media (min-width:1101px) and (max-width:1300px) {

    .max-width {
        width: 1100px;
    }

    .scroll-up-btn {
        left: 90%;
    }
}


@media (max-width: 1100px) {

    .menuSpace {
        width: 95%;
    }

    section {
        padding: 100px 10px 0 10px;
    }

    .benefits .card-benefit {
        width: 13%;
    }

    .scroll-up-btn {
        display: none;
    }

    .portfolio-card {
        width: 300px;
        height: 200px;
    }

    .portfolio-card-img {
        width: 300px;
        height: 200px;
    }
}


@media (max-width: 990px) {

    .benefits .card-benefit {
        width: 25%;
    }
}

@media (max-width: 950px) {
    .max-width {
        max-width: 900px;
    }

    .menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 100px;
        right: 0px;
        background: linear-gradient(to right, var(--black), var(--green));
        transition: 0.6s;
        z-index: 99000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        height: calc(100vh - 100px);
        visibility: visible;
        overflow-y: auto;
    }

    .menu a {
        text-align: center;
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 1px solid #fff;
    }

    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1.6rem;
        border: none;
        font-weight: 500;
        text-transform: uppercase;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }

    #hamburger {
        border-top: 3px solid;
        width: 35px;
        margin-top: 2px;
    }

    #hamburger::before {
        width: 30px;
    }

    #hamburger::after {
        width: 30px;
    }

    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        height: 3px;
        background: currentColor;
        margin-top: 6px;
        transition: 0.5s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -8px;
    }

    .about .about-content .column {
        width: 50%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 20px auto;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }

    .contact {
        padding-bottom: 100px;
    }

}

@media (max-width:799px) {

    .button-on {
        display: none;
    }
    .media-social {
        margin-left: 80px;
    }
    .solution-card {
        width: 30%;
    }

    .portfolio-content .portfolio-content-filter {
        width: 100%;
        height: 50px;
        padding: 10px;
    }

}

@media (max-width: 690px) {
  
    .solution-card {
        width: 100%;
    }

    .portfolio-content-filter {
        font-size: 14px;
    }

    .price-content-card {
        width: 90%;
    }

    .about .about-content .left img {
        width: 80%;
        height: 50%;
    }

    .text-content-center .text-2 {
        font-size: 2.55rem;
    }

}

@media (max-width: 500px) {
    .max-width {
        width: 100%;
    }
    .text-content-up {
        margin-top: 150px;
    }

    .text-content-center .text-2 {
        font-size: 2.05rem;
    }

    
    .benefits .card-benefit p {
        font-size: 11px;
    }

    .benefits .card-benefit i {
        font-size: 20px;
    }

    .portfolio-content .portfolio-content-filter {
        width: 100%;
        height: 50px;
        column-gap: 8px;
        row-gap: 8px;
        padding: 10px;
    }

    .portfolio-content-filter .item {
        font-size: 60%;
    }

}

/* ::-webkit-scrollbar {
    background-color: #01A5B1;
} */

body::-webkit-scrollbar {
    width: 12px;
    /*largura do scroll*/
}

body::-webkit-scrollbar-track {
    background: var(--black);
    /* cor do background */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--green);
    /* cor do thumb */
    border-radius: 20px;
    border: 3px solid var(--black);
}

/* animação ScrollReveal */
.efectScroll {
    visibility: hidden;
}