@keyframes mousemove {

    /*animação mousemove home*/
    0% {
        /* top: 10px; */
        opacity: 0;
        transform: translateX(-2px);
    }

    100% {
        /* top: 30px; */
        opacity: 1;
        transform: translateX(10px);
    }
}

@keyframes shake {

    /*animação mediaSocial home*/
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }
}

@keyframes heartpulse {

    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1);   
    }

    100% {
        transform: scale(1.2);
    }
}

:root {
    
    --greenOne: #10B083; /*color principal*/
    --grenn01: #01E869;
    --green04: #053527;

    --DarkOne: #000;
    --DarkTwo: #000;
    --dark01: #1B1920; /*color principal*/
    --dark02: #1F1F23;
    --dark03: #222027;

    --black: #000000;
    --grey: #DBDBDB;
    --white: #ffffff;

    --cor01: #131313;
    --cor02: #212427;
    --cor03: #181B1D;
    --cor04: #171717;
    --cor05: #25262B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

/*  menu principal*/
.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: var(--black);
    position: fixed;
    z-index: 999;
    padding: 10px 0;
    box-shadow: 0 0 1px var(--greenOne);
}

/* logotipo */
.menu-desktop .logotipo {
    width: 95px;
    display: flex;
    align-items: center;
}

.menu-desktop .logotipo-img {
    width: 34px;
    height: 58px;
    transition: all 0.6s ease;
}

.menu-desktop .logotipo-img:hover {
    transform: scale(1.2);
}

/* menu navigation */
.menu-desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1100px;
    padding: 5px;
}

#nav a {
    color: var(--greenOne);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.25s ease-in;
}

#nav a:hover {
    color: var(--grey);
    text-shadow: 0px -2px 0px var(--greenOne);
}

.menu {
    display: flex;
    list-style: none;
    gap: 0.3rem;
}

.menu a {
    display: block;
    padding: 0.5rem;
}

#btn-mobile {
    display: none;
    color: var(--greenOne);
}

/* button defafaut ##################### */
.button-link {
    padding: 12px;
    border: none;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    transition: 300ms;
    text-decoration: none;
    background-color: transparent;
}

.button-link .button-title {
    color: var(--greenOne);
    position: relative;
    transition: 300ms;
    transition-delay: 300ms;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

.button-link:before {
    content: '';
    position: absolute;
    width: 0%;
    height: 0%;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    transition: 0.8s;
    transition-delay: 0.3s;
    background-color: var(--greenOne);
}

.button-link div {
    transition: 300ms;
    position: absolute;
    background-color: var(--greenOne);
}

.button-link .button-top {
    width: 15px;
    height: 2px;
    top: 0;
    left: 0;
}

.button-link .button-bottom {
    width: 15px;
    height: 2px;
    bottom: 0;
    right: 0;
}

.button-link .button-left {
    width: 2px;
    height: 15px;
    top: 0;
    left: 0;
}

.button-link .button-right {
    width: 2px;
    height: 15px;
    bottom: 0;
    right: 0;
}

.button-link:hover .button-title {
    color: var(--white);
    text-shadow: 0 0 4px var(--DarkOne);
}

.button-link:hover:before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.button-link:hover .button-top,
.button-link:hover .button-bottom {
    width: 100%;
}

.button-link:hover .button-left,
.button-link:hover .button-right {
    height: 100%;
}

/* códigos gerais  */
.default .title {
    text-align: center;
    font-size: 23px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    position: relative;
    color: var(--grey);
}

.default .title::after {
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 14px;
    font-weight: 500;
    background: transparent;
    color: var(--greenOne);
    padding: 5px;
    transform: translateX(-50%);
    width: 80vw;
}

.default.dark {
    background-color: var(--black);
}
.default.light {
    background-color: var(--grey);
}

.max-width {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px 0 0;
}

.home,
.about,
.solution,
.portfolio,
.price,
.contact,
.footer {
    padding: 110px 10px 20px 10px;
}


.about .about-content,
.solution .solution-content,
.portfolio .port-content,
.price .price-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 10px;
}

/*#############################*/
/* home */
.home {
    height: 100vh;
    min-height: 500px;
}

.home .max-width {
    padding: 5px 0;
    height: 100%;
}

.home .max-width .home-content {
    width: 1100px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-content--rigth {
    display: flex;
    justify-content: center;
}

.mediaSocial {
    position: fixed;
    z-index: 120;
    left: 9%;
    bottom: 15%;
}

.icons {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.icons span,
.mouse span  {
    font-size: 0;
}

.icons .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    color: var(--greenOne);
    border-radius: 50%;
    outline: 2px solid transparent;
    transition-property:
        outline-offset, outline-color,
        background-color;
    transition-duration: .25s;
}

.icon:hover {
    outline-offset: 4px;
}

.icon:hover i {
    animation: shake .25s;
    font-size: 19px;
}

.icon--instagram:hover {
    background-image: radial-gradient(circle at 30% 107%,
            #fdf497 0%, #fdf497 5%,
            #fd5949 45%, #d6249f 60%,
            #285AEB 90%);
    outline-color: #a02d76;
    color: var(--grey);
}

.icon--whatsapp:hover {
    background-color: #2ea44f;
    outline-color: #2ea44f;
    color: var(--grey);
}

.icon--mail:hover {
    background-color: #cfac10;
    outline-color: #cfac10;
    color: var(--grey);
}

.home-content--left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 55px;
}

.home-content--left .text-1 {
    display: flex;
    column-gap: 10px;
    align-items: center;
    font-family: 'Major Mono Display', monospace;
    font-size: 25px;
    color: var(--grey);
    width: 98%;
}

.home-content--left .bar {
    height: 10px;
    width: 75%;
    background-color: var(--grey);

}

.home-content--left .text-2 {
    font-size: 60px;
    color: var(--greenOne);
    text-shadow: 5px 5px 0px var(--black);
    font-family: 'Major Mono Display', monospace;
}

.home-content--left .text-3 {
    text-align: right;
    font-size: 25px;
    margin-top: 70px;
    text-shadow: 2px 2px 0px var(--black);
    font-family: 'Major Mono Display', monospace;
}

.home-content--left .text-3 span {
    color: var(--grey);
}

.home-content--center{
    align-self: end;
    margin-bottom: 60px;
}

.home-content--center .mouse {
    display: inline-flex;
    text-decoration: none;
    rotate: -270deg;
    justify-content: center;
    padding: 5px;
    color: var(--greenOne);
    font-size: 12px;
    cursor: pointer;
    text-shadow: 0px 2px 2px var(--DarkOne);
    animation: mousemove 1.5s infinite ease-in alternate;
    
}

/*  section about  */
.about .title::after {
    content: "-Quem sou eu-";
}

.about .about-content .left {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right .text {
    font-size: 25px;
    margin-bottom: 10px;
    color: var(--grey);
}

.about .about-content .right .text span {
    color: var(--greenOne);
}

.about .about-content .right p {
    text-align: justify;
    font-size: 15px;
    color: var(--grey);
}

.about .about-content .left img {
    margin-top: 20px;
    width: 350px;
    height: 380px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 8px -12px 0px -2px var(--greenOne);
}

/*  section solution */
.solution .title::after {
    content: "-Que oferecemos-";
}

.card-solution {
    width: calc(33% - 30px);
    height: 200px;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.card-text {
    height: 200px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px 20px 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: var(--white);
    transition: all 0.7s ease-in-out;
    text-shadow: 1px 1px 0px var(--black);
    
}

.card-text .card-text-solution-title {
    color: var(--white);
    text-shadow: 1px 1px 0px var(--black);
}

.card-text .card-text-solution-title span {
    color: var(--greenOne);
}

.card-text .card-text-solution-title,
.card-text p {
    margin-bottom: 15px;
}
.card-text:hover  {
    background-color: rgba(16, 176, 131, 0.2);
    box-shadow: 0px 0px 1px 2px var(--greenOne);
}

.card-solution.one {
    background-image: url('assets/images/services/goran-ivos.webp');    
}

.card-solution.two {
    background-image: url('assets/images/services/ben-kolde.webp');
}

.card-solution.three {
    background-image: url('assets/images/services/john-schnobrich.webp');
}

/* beneficios */
.benefits {
    padding: 0px;
    max-width: 100vw;
    background-color: var(--greenOne);
}

.benefit {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    justify-content: center;
}

.benefit .card-benefit {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    padding: 20px 5px;
}

.benefit .card-benefit .iconb {
    color: var(--DarkOne);
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-benefit:hover i {
    animation: shake .25s;
    cursor: default;

}

.benefit .card-benefit h1 {
    font-size: 12px;
    text-transform: uppercase;
    color: var(--DarkOne);
    font-weight: 500;
    text-shadow: 0 0px 1px var(--DarkOne);
    text-align: center;
}

.benefit .card-benefit p {
    font-size: 12px;
    text-align: center;
    color: var(--DarkOne);
    text-shadow: 0 0px 1px var(--DarkOne);
}

/* section Portfólio */
.cardOne {
    width: 310px;
    height: 200px;
    background: var(--greenOne);
    position: relative;
    box-shadow: 0px 2px 0px var(--greenOne);
    transition: all .3s ease-in-out;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    cursor: default;
}

.card-info {
    position: absolute;
    bottom: 0;
    width: 310px;
    height: 200px;
    padding: 0.3rem 0.7rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase; 
}

.card-img {
    background-size: cover;
    background-repeat: no-repeat;
    width: 310px;
    height: 200px;
    position: absolute;
    transition: all .8s ease-in-out;
    z-index: 2;
    border-radius: 5px;
}

.card-img01 {
    background: url('assets/images/portfolio/img03_land.webp');
}

.card-img02 {
    background: url('assets/images/portfolio/img02_land.webp');
}
.card-img03 {
    background: url('assets/images/portfolio/img01_land.webp');
}
.card-img04 {
    background: url('assets/images/portfolio/img04_site.webp');
}
.card-img05 {
    background: url('assets/images/portfolio/img05_site.webp');
}
.card-img06 {
    background: url('assets/images/portfolio/img06_site.webp');
}
.card-img07 {
    background: url('assets/images/portfolio/img07_land.webp');
}
.card-img08 {
    background: url('assets/images/portfolio/img08_site.webp');
}
.card-img09 {
    background: url('assets/images/portfolio/img09_loja.webp');
}

.title-card {
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 2px;
    color: var(--grey);
    text-shadow: 0 1px 3px var(--DarkOne);
}

.subtitle {
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 0.8em;
    color: var(--DarkOne);
    font-weight: 600;
    transition: all .8s ease-in-out;
    text-align: center;
    border: 2px solid var(--DarkOne);
    padding: 4px 6px;
    border-radius: 5px;
}

.subtitle:hover {
    background-color: var(--DarkOne);
    color: var(--greenOne);
    border: 2px solid var(--greenOne);
}

.cardOne:hover .card-img {
    height: 130px;
    border-radius: 5px 5px 0 0;
}

.portfolio .title::after {
    content: "-Nossos trabalhos-";
    background-color: transparent;
}

.port-content {
    flex-direction: column;
}

.port-content .itens {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 25px;
    column-gap: 40px;
}

.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    column-gap: 30px;
    border: 1px solid var(--greenOne);
    background-color: var(--greenOne);
    border-radius: 10px;
    height: 47px;
    padding: 0 20px;
    color: var(--DarkOne);
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    row-gap: 20px;
    box-shadow: 0px 0px 5px var(--DarkOne);
    margin-bottom: 30px;
}

.filter li.active {
    color: var(--grey);
    text-shadow: 0 1px 1px var(--DarkOne);
}

/* .item:hover {
    color: var(--grey);
    cursor: pointer;
} */

.itens .item {
    list-style: none;
}

/* .content--portfolio-photo-site-area a {
    width: 320px;
    height: 200px;
} */

/* .content--portfolio-photo-site-area a img {
    width: 320px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #535353, 0px 2px 0 var(--greenOne);

} */

/* .content--portfolio-photo-info {
    margin-top: 150px;
    margin-left: 10px;
    position: absolute;
    background-color: var(--greenOne);
    border: 1px solid #ddd;
    width: 300px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--DarkOne);
    border-radius: 5px;
    opacity: 0;
    transition: all 1s ease;
    box-shadow: 0px 0px 5px var(--DarkOne);
} */

/* a .content--portfolio-photo-info h1 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--DarkOne);
    margin-bottom: 10px;
    text-shadow: 0px 1px 1px var(--DarkOne);
} */
/* 
a .content--portfolio-photo-info p {
    text-shadow: 0px 1px 1px var(--DarkOne);
} */

/* .content--portfolio-photo-site-area:hover .content--portfolio-photo-info {
    opacity: 1;
    margin-top: 110px;
} */

/* section price */
.card-price {
    padding: 30px 40px;
    width: calc(33% - 25px);
    box-shadow: 0 0 2px var(--greenOne);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background: var(--DarkOne);
    color: var(--grey);
    row-gap: 10px;
    /* align-items: center; */
}

.price .title::after {
    content: "-Conheça os preços-";
}

.card-price h1 {
    font-size: 1.5em;
    line-height: 30px;
    text-align: center;
}

.card-price h1 span {
    color: var(--greenOne);
}

.card-price p {
    font-size: 12px;
    text-align: center;
    /* line-height: 25px; */
}

.card-price .price-btn {
    align-self: center;
}

.list-price li {
    color: var(--greenOne);
    list-style-type: circle;
    font-size: 0.8rem;
    line-height: 40px;
}

.price-price {
    margin-top: 30px;
}

.price-price .priceOne {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

.price-price .priceTwo {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 60px;
    color: var(--greenOne);
}

.price-price p {
    font-size: 14px;
    line-height: 23px;
}
.price-price .priceThree {
    color: var(--greenOne);
}



/*  section Contato  */
.contact .title::after {
    content: "-Fale conosco-";
}

.contact .contact-content .column {
    width: calc(50% - 30px);
    color: var(--grey);
}

.contact .contact-content {
    align-items: flex-start;
}

.contact .contact-content .left p {
    text-align: justify;
    color: var(--grey);
}

.contact .contact-content .text {
    font-size: 20px;
    margin-bottom: 10px;
}

.contact .contact-content .left .icons {
    margin: 10px 0;
}

.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info {
    margin-left: 30px
}

.contact .contact-content .row .info .sub-title {
    color: var(--grey);
}

.contact .contact-content .row ion-icon {
    font-size: 25px;
    color: var(--greenOne);
}

.contact .rigth form .fields {
    display: flex;
}

.contact .rigth form .field,
.contact .rigth form .fields .field {
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
}

.contact .rigth form .field input,
.contact .rigth form .textarea textarea {
    width: 100%;
    height: 100%;
    border: 1px solid var(--greenOne);
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.contact .rigth form .name {
    margin-right: 10px;
}

.contact .rigth form .email {
    margin-left: 10px;
}

.contact .rigth form .textarea {
    width: 100%;
    height: 80px;
}

.contact .rigth form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .rigth form .button {
    width: 170px;
    height: 47px;
}

/*  section footer  */
.footer {
    padding: 20px 0;
    text-align: center;
}

.footer .logotipo {
    height: 50px;
    /* margin-bottom: 5px; */
}

.footer .logotipo img {
    width: 50px;
    height: 50px;
    transition: all 0.6s ease;

}

.footer .logotipo img:hover {
    transform: scale(1.2);
}

.footer .footer-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer span,
.footer .copy {
    color: var(--grey);
    margin: 10px 0 0 0;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}

.footer span a {
    color: var(--greenOne);
    text-decoration: none;
}

.footer .footer-text .heartPulse {
    width: 20px;
    height: 20px;
    animation: heartpulse 1.2s linear alternate infinite;
}




/*  responsividade  */
@media (min-width:1101px) and (max-width:1300px) {

    .max-width {
        width: 1000px;
    }

    .mediaSocial {
        right: 2%;
    }

    .scroll-up-btn {
        left: 95%;
    }
}

@media (max-width: 1100px) {

    .navbar .max-width {
        margin-left: 0;
    }

    section {
        padding: 100px 50px 50px 50px;
    }

    /* .about .about-content .left img {
        width: 300px;
        height: 300px;
    } */

    .benefits .card-benefit {
        width: 13%;
    }

    .mediaSocial {
        right: 3%;
    }

    .scroll-up-btn {
        left: 94%;
    }

    /* .card-solution {
        width: 300px;
        height: 200px;
    }

    .card-text {
        width: 300px;
        height: 200px;
    } */

    .cardOne {
        width: 300px;
        height: 200px;
    }

    .card-img {
        width: 300px;
        height: 200px;
    }
}


@media (max-width: 990px) {

    .navbar .max-width {
        padding: 0 50px;
    }

    .home-content--left .text-2 {
        font-size: 2.5rem;
    }

    /* .about .about-content .left img {
        width: 250px;
        height: 250px;
    } */

    .benefits .card-benefit {
        width: 25%;
    }

    /* .content--portfolio-photo-site-area a {
        width: 250px;
        height: 180px;
    } */

    .scroll-up-btn {
        left: 93.6%;
    }
}

@media (max-width: 950px) {
    .max-width {
        max-width: 900px;
        padding: 0;
    }
    
    /* .scroll-up-btn {
        left: -30%;
    } */

    .button-default {
        display: none;
    }

    .menu-btn {
        display: block;
        z-index: 01A5B1;
    }

    .navbar .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        left: -100%;
        top: 0;
        padding-top: 80px;
        text-align: center;
        transition: all 0.3s ease;
    }

    .navbar .menu.active {
        left: 0;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .about .about-content .column {
        width: 50%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 20px auto;
    }

    .about .about-content .right {
        flex: 100%;
    }

    /* .solution .solution-content .card {
        width: 270px;
        margin-bottom: 20px;
    } */

    /* .solution-content .card p {
        font-size: 12px;
    } */

    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }

    /* .content--portfolio-photo-site-area a {
        width: 220px;
        height: 160px;
    } */

    .contact {
        padding-bottom: 130px;
    }
}

@media (max-width:799px) {

    .button-btn {
        display: none;
    }

    .port-content .filter {
        width: 100%;
        height: 50px;
        column-gap: 8px;
        row-gap: 8px;
        padding: 10px;
    }

    /* .content--portfolio-photo-site-area a {
        width: 300px;
        height: 200px;
    } */

    .card-solution {
        width: 30%;
        /* margin-bottom: 20px; */
    }

    

    /* .mediaSocial {
        left: -85%;
    } */
    .scroll-up-btn {
        left: 93%;
    }


}

@media (max-width: 690px) {
    .home {
        background-position: right;    
    }

    .header {
        background: linear-gradient(var(--DarkOne), var(--DarkTwo));
    }

    .card-solution {
        width: 100%;
        margin-bottom: 20px;
    }

    .card-price {
        width: 90%;
        margin-bottom: 20px;
    }

    /* .content--portfolio-photo-site-area a {
        width: 250px;
        height: 170px;
    } */

    .button-btn {
        display: none;
    }

    /* .mediaSocial {
        left: -570px;
    } */

    .about .about-content .left img {
        width: 80%;
        height: 50%;
    }

    .menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 100px;
        right: 0px;
        background: linear-gradient(to right, var(--DarkOne), var(--greenOne));
        transition: 0.6s;
        z-index: 99000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        height: calc(100vh - 100px);
        visibility: visible;
        overflow-y: auto;
    }

    .menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        /* border-bottom: 2px solid rgba(0, 0, 0, 0.05); */
    }

    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
        border: none;
        font-weight: 500;
        text-shadow: 1px 1px 1px var(--black);
        text-transform: uppercase;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }

    #hamburger {
        border-top: 2px solid;
        width: 35px;
        margin-top: 4px;
    }

    #hamburger::before {
        width: 30px;
    }

    #hamburger::after {
        width: 30px;
    }

    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        height: 2px;
        background: currentColor;
        margin-top: 6px;
        transition: 0.5s;
        position: relative;
        box-shadow: 0 0 2px var(--black);
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -8px;
    }

    .home-content--left .text-2 {
        font-size: 2.3rem;
    }

    .scroll-up-btn {
        left: 92.4%;
    }

}

@media (max-width: 550px) {
    .scroll-up-btn {
        left: 2.5%;
    }




}

@media (max-width: 500px) {

    .max-width {
        width: 100%;
    }

    

    .home-content--left .text-2 {
        font-size: 1.5rem;
    }

    .home-content--left .text-3 {
        font-size: 1.1rem;
    }

    .port-content .filter {
        width: 100%;
        height: 50px;
        column-gap: 8px;
        row-gap: 8px;
        padding: 10px;
    }

    .filter .item {
        font-size: 60%;
    }

    .benefits .card-benefit p {
        font-size: 11px;
    }

    .benefits .card-benefit i {
        font-size: 20px;
    }

    .about .about-content .right .text {
        font-size: 24px;
    }

}

@media (max-width:415px) {
    .content--portfolio-photo-site-area a {
        width: 100%;
    }

    /* .content--portfolio-photo-info {
        width: 65%;
    } */

    .about .about-content .right .text {
        font-size: 22px;
    }

    .mediaSocial {
        right: 2%;
    }
}

@media (max-width:405px) {

    .about .about-content .right .text {
        font-size: 20px;
    }

    .mediaSocial {
        left: -87%;
    }
}

/* ::-webkit-scrollbar {
    background-color: #01A5B1;
} */

body::-webkit-scrollbar {
    width: 12px;
    /*largura do scroll*/
}

body::-webkit-scrollbar-track {
    background: #1B1E25;
    /* cor do background */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--greenOne);
    /* cor do thumb */
    border-radius: 20px;
    border: 3px solid var(--DarkOne);
}

/* animação ScrollReveal */
.efectScroll {
    visibility: hidden;
}

/* btn-voltar-home */
.scroll-up-btn {
    display: inline-flex;
    justify-content: center;
    position: fixed;
    width: 36px;
    height: 36px;
    border-radius: 25px;
    right: 7.8%;
    bottom: 35px;
    text-align: center;
    line-height: 40px;
    color: var(--greenOne);
    background: var(--DarkOne)  ;
    font-size: 25px;
    z-index: 248;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    box-shadow: 0px 1px 2px #3a3a3a;
}

.scroll-up-btn .up {
    position: absolute;
    /* animation: mousemove 0.8s infinite ease-in alternate; */
}

.scroll-up-btn.show {
    bottom: 25px;
    opacity: 1;
    pointer-events: auto;
}

