@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

@keyframes mousemove {

    /*animação mousemove home*/
    0% {
        top: 10px;
    }

    100% {
        top: 30px;
    }
}

@keyframes shake {

    /*animação mediaSocial home*/
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }
}

:root {
    --greenOne: #10B083;
    --greenne: #01E869;
    --greenTwo: #2FD46C;
    --greenThree: #4DBD82;
    --DarkOne: #1B1920;
    --DarkTwo: #222027;
    --grey: #E1E1E6;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background: linear-gradient(var(--DarkOne), var(--DarkTwo));
}

.max-width {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px 0 0;
}

/*  menu início*/
.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    background: url('./assets/images/home/glenn-unsplash.jpg') no-repeat;
    background-size: cover;
    position: fixed;
    z-index: 999;
    padding: 20px 0 10px 0;
}

.menuSpace {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1100px;
}

/* logo svg */
.menuSpace .logo {
    width: 95px;
    
}

.menuSpace img {
    width: 75px;
    height: 90%;
    transition: all 0.6s ease;
}

.menuSpace img:hover {
    width: 83px;
    height: 78%;
}

/* .logo_svg {
    width: 85px;
    height: 80%;
    transition: all 0.6s ease;
}

.logo_svg:hover {
    width: 92px;
    height: 78%;
} */

/* menu */
#nav a {
    color: var(--greenOne);
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Major Mono Display', monospace;
    transition: all 0.33s ease-in;
}

#nav a:hover {
    color: var(--white);
    text-shadow: 0px -4px 0px var(--greenOne);
}

.menu {
    display: flex;
    list-style: none;
    gap: 0.3rem;
}

.menu a {
    display: block;
    padding: 0.5rem;
}

#btn-mobile {
    display: none;
    color: var(--greenOne);
}

/* bnt default */
.btn--default a.btn-default,
.btn--default button.btn-default {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    padding: 6px 8px;
    border-radius: 6px;
    border: 2px solid var(--greenOne);
    color: var(--greenOne);
    text-decoration: none;
    transition: all 0.5s linear;
    width: 140px;
    text-align: center;
    background-color: transparent;
}

.btn--default a.btn-default:hover,
.btn--default button.btn-default:hover {
    background: var(--greenOne);
    color: var(--DarkOne);
    transform: scale(0.9);
}

/* fim menu */
/*#############################*/
/* home */
.home {
    display: flex;
    background: url('./assets/images/home/glenn-unsplash.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 500px;
}

.home .max-width {
    padding: 5px 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.home .max-width .homeHome {
    width: 1100px;
    display: flex;
    justify-content: center;
}

.home-content--left {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.home-content--left .text-2 {
    font-size: 60px;
    color: var(--greenOne);
    text-shadow: 0px 2px 2px var(--DarkOne);
    font-family: 'Major Mono Display', monospace;
}

.home-content--left .text-3 {
    text-align: right;
    font-size: 25px;
    text-shadow: 0px 2px 2px var(--DarkOne);
    font-family: 'Major Mono Display', monospace;
}

.home-content--left .text-3 span {
    color: var(--grey);
}

.home-content--center {
    width: 15%;
}

.mouse {
    display: inline-flex;
    justify-content: center;
    padding: 10px 5px;
    width: 36px;
    height: 60px;
    border-radius: 25px;
    position: relative;
    color: var(--greenOne);
    font-size: 18px;
    left: 40%;
    top: 70%;
    border: 2px solid var(--greenOne);
    cursor: pointer;
    text-shadow: 0px 2px 2px var(--DarkOne);
    transition: all 0.5s linear;
}

.mouse i {
    border-radius: 50%;
    position: absolute;
    animation: mousemove 0.8s infinite ease-in alternate;
}

.mouse:hover {
    background-color: var(--greenOne);
    color: var(--DarkOne);
    box-shadow: 0px 0px 8px 8px var(--DarkOne);
}

.home-content--rigth {
    width: 25%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mediaSocial {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    z-index: 120;
    right: 8%;
}

.mediaSocial .tabTop,
.mediaSocial .tabBottom {
    width: 1px;
    height: 190px;
    background-color: var(--greenOne);
}

.icons {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.icons .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    color: var(--greenOne);
    border-radius: 50%;
    outline: 2px solid transparent;
    transition-property:
        outline-offset, outline-color,
        background-color;
    transition-duration: .25s;
}

.icon:hover {
    outline-offset: 4px;
}

.icon:hover i {
    animation: shake .25s;
    font-size: 19px;
}

.icon--instagram:hover {
    background-image: radial-gradient(circle at 30% 107%,
            #fdf497 0%, #fdf497 5%,
            #fd5949 45%, #d6249f 60%,
            #285AEB 90%);
    outline-color: #a02d76;
    color: var(--grey);
}

.icon--whatsapp:hover {
    background-color: #2ea44f;
    outline-color: #2ea44f;
    color: var(--grey);
}

.icon--mail:hover {
    background-color: #cfac10;
    outline-color: #cfac10;
    color: var(--grey);
}

/* códigos gerais  */
section {
    padding: 110px 0 50px 0;
}

section .title {
    font-family: 'Major Mono Display', monospace;
    text-align: center;
    font-size: 23px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    position: relative;
    color: var(--grey);
}

section .title::after {
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 14px;
    background: transparent;
    color: var(--greenOne);
    padding: 5px;
    transform: translateX(-50%);
}

.about,
.services,
.portfolio,
.contact,
.footer {
    background: linear-gradient(var(--DarkOne), var(--DarkTwo));
    font-family: 'Poppins', sans-serif;
}

.about .about-content,
.services .serv-content,
.portfolio .port-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/*  section Sobre  */
.about .title::after {
    content: "-Quem sou eu-";
}

.about .about-content .left {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right .text {
    font-size: 25px;
    margin-bottom: 10px;
    color: var(--grey);
}

.about .about-content .right .text span {
    color: var(--greenOne);
}

.about .about-content .right p {
    text-align: justify;
    font-size: 15px;
    color: var(--grey);
}

.about .about-content .left img {
    margin-top: 20px;
    width: 350px;
    height: 380px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 8px -12px 0px -2px var(--greenOne);
}

/*  serction Soluções */
.services {
    color: #fff;
}

.services .title::before {
    background: #fff;
}

.services .title::after {
    background: transparent;
    content: "-Que oferecemos-";
}

.serv-content {
    column-gap: 20px;
    background-image: url('assets/images/john-schnobrich.jpg');
    background-size: cover;
    background-position: center;
    /* position: relative; */
    /* op       acity: .5; */
}

.services .serv-content .card {
    width: calc(33% - 30px);
    text-align: center;
    border-radius: 6px;
    padding: 30px 5px;
    cursor: default;
    transition: all 0.3s ease;
}

.card span {
    color: var(--greenOne);
    text-shadow: 0 2px 3px var(--DarkOne);
}


.card .icon--serv {
    width: 65px;
    height: 65px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 40px;
    color: #fff;
    text-shadow: 0 2px 3px var(--DarkOne);
    box-shadow: 0 3px 2px var(--DarkOne),
                0px 0px 2px #fff;
    border-radius: 50%;
    outline: 3px solid transparent;
    transition-property:
        outline-offset, outline-color,
        background-color;
    transition-duration: .25s;
    outline-offset: 2px;
}

.card:hover .icon--serv {
    outline-color: var(--greenOne);
    outline-offset: 5px;
    color: var(--greenOne);
}

.card .icon {
    width: 70px;
    height: 70px;
}

.card:hover i {
    animation: shake .25s;
}

.serv-content .card h1 {
    font-size: 19px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 38px 0 27px 0;
    color: #fff;
    text-shadow: 0 2px 3px var(--DarkOne);
}

.serv-content .card p {
    font-size: 14px;
    color: #fff;
    text-shadow: 0 2px 3px var(--DarkOne);
}

/* .services .serv-content .card .box {
    transition: all 0.3s ease;
}

.services .serv-content .card:hover .box {
    transform: scale(1.05);
} */

/* beneficios */
.benefits {
    padding: 0px;
    max-width: 100vw;
    background-color: var(--greenOne);
}

.benefit {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    justify-content: center;
}

.benefit .card-benefit {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    padding: 20px 0;
}

.benefit .card-benefit .iconb {
    color: var(--DarkOne);
    font-size: 25px;
    width: 35px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    outline: 2px solid transparent;
    transition-property:
        outline-offset, outline-color,
        background-color;
    transition-duration: .25s;
}

.card-benefit:hover i {
    animation: shake .25s;
    font-size: 28px;
    cursor: default;

}

.benefit .card-benefit h1 {
    font-size: 12px;
    text-transform: uppercase;
    color: var(--DarkOne);
    font-weight: 500;
    text-shadow: 0 0px 1px var(--DarkOne);
    text-align: center;
}

.benefit .card-benefit p {
    font-size: 12px;
    text-align: center;
    color: var(--DarkOne);
    text-shadow: 0 0px 1px var(--DarkOne);
}

/* section Portfólio */
.portfolio .title::after {
    content: "-Nossos trabalhos-";
    background-color: transparent;
}

.port-content {
    flex-direction: column;
}

.port-content .itens {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 25px;
    column-gap: 40px;
}

.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    column-gap: 30px;
    border: 1px solid var(--greenOne);
    background-color: var(--greenOne);
    border-radius: 10px;
    height: 47px;
    padding: 0 20px;
    color: var(--DarkOne);
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    row-gap: 20px;
    box-shadow: 0px 0px 5px #000;
    margin-bottom: 30px;
}

.filter li.active {
    color: #fff;
    text-shadow: 0 1px 1px var(--DarkOne);
}

.item:hover {
    color: #fff;
    cursor: pointer;
    text-shadow: 0 1px 1px var(--DarkOne);
}

.itens .item {
    list-style: none;
}

.content--portfolio-photo-site-area a {
    width: 320px;
    height: 200px;
}

.content--portfolio-photo-site-area a img {
    width: 320px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #535353, 0px 2px 0 var(--greenOne);

}

.content--portfolio-photo-info {
    margin-top: 150px;
    margin-left: 10px;
    position: absolute;
    background-color: var(--greenOne);
    border: 1px solid #ddd;
    width: 300px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--DarkOne);
    border-radius: 5px;
    opacity: 0;
    transition: all 1s ease;
    box-shadow: 0px 0px 5px var(--DarkOne);
}

a .content--portfolio-photo-info h1 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--DarkOne);
    margin-bottom: 10px;
    text-shadow: 0px 1px 1px var(--DarkOne);
}

a .content--portfolio-photo-info p {
    text-shadow: 0px 1px 1px var(--DarkOne);
}

.content--portfolio-photo-site-area:hover .content--portfolio-photo-info {
    opacity: 1;
    margin-top: 110px;
}


/*  section Contato  */
.contact .title::after {
    content: "-Fale conosco-";
}

.contact .contact-content .column {
    width: calc(50% - 30px);
    color: var(--grey);
}

.contact .contact-content {
    align-items: flex-start;
}

.contact .contact-content .left p {
    text-align: justify;
    color: var(--grey);
}

.contact .contact-content .text {
    font-size: 20px;
    margin-bottom: 10px;
}

.contact .contact-content .left .icons {
    margin: 10px 0;
}

.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info {
    margin-left: 30px
}

.contact .contact-content .row .info .sub-title {
    color: var(--grey);
}

.contact .contact-content .row ion-icon {
    font-size: 25px;
    color: var(--greenOne);
}

.contact .rigth form .fields {
    display: flex;
}

.contact .rigth form .field,
.contact .rigth form .fields .field {
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
}

.contact .rigth form .field input,
.contact .rigth form .textarea textarea {
    width: 100%;
    height: 100%;
    border: 1px solid var(--greenOne);
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.contact .rigth form .name {
    margin-right: 10px;
}

.contact .rigth form .email {
    margin-left: 10px;
}

.contact .rigth form .textarea {
    width: 100%;
    height: 80px;
}

.contact .rigth form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .rigth form .button {
    width: 170px;
    height: 47px;
}

/*  section footer  */
.footer {
    padding: 20px 0;
    text-align: center;
}

.footer .logo {
    height: 50px;
    /* margin-bottom: 5px; */
}

.footer .logo img {
    width: 50px;
    height: 50px;
    transition: all 0.6s ease;

}

.footer .logo img:hover {
    width: 58px;
}

.footer .footer-text {
    display: flex;
    flex-direction: column;
}

.footer span,
.footer .copy {
    color: var(--grey);
    margin: 10px 0 0 0;
    font-size: 15px;
}

.footer span a,
.footer i {
    color: var(--greenOne);
    text-decoration: none;
}


/*  responsividade  */
@media (min-width:1101px) and (max-width:1300px) {

    .max-width {
        width: 1000px;
    }
    .mediaSocial {
        right: 2%;
    }
}
    


@media (max-width: 1100px) {

    .navbar .max-width {
        margin-left: 0;
    }

    section {
        padding: 100px 50px 50px 50px;
    }

    /* .about .about-content .left img {
        width: 300px;
        height: 300px;
    } */

    .benefits .card-benefit {
        width: 13%;
    }

    .mediaSocial {
        right: 3%;
    }

    .content--portfolio-photo-site-area a {
        width: 300px;
        height: 200px;

    }
}


@media (max-width: 990px) {

    .navbar .max-width {
        padding: 0 50px;
    }

    .home-content--left .text-2 {
        font-size: 2.5rem;
    }

    /* .about .about-content .left img {
        width: 250px;
        height: 250px;
    } */

    .benefits .card-benefit {
        width: 25%;
    }

    .content--portfolio-photo-site-area a {
        width: 250px;
        height: 180px;

    }
}

@media (max-width: 950px) {
    .max-width {
        max-width: 900px;
        padding: 0;
    }

    .btn--Btn {
        display: none;
    }

    .menu-btn {
        display: block;
        z-index: 01A5B1;
    }

    .navbar .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        left: -100%;
        top: 0;
        padding-top: 80px;
        text-align: center;
        transition: all 0.3s ease;
    }

    .navbar .menu.active {
        left: 0;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .about .about-content .column {
        width: 50%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 20px auto;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .services .serv-content .card {
        width: 270px;
        margin-bottom: 20px;
    }

    .serv-content .card p {
        font-size: 12px;

    }

    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }

    .content--portfolio-photo-site-area a {
        width: 220px;
        height: 160px;
    }

    .contact {
        padding-bottom: 130px;
    }
}

@media (max-width:799px) {

    .btn--Btn {
        display: none;
    }

    .about .title::after,
    .services .title::after,
    .portfolio .title::after,
    .contact .title::after {
        width: 70vw;
    }



    .port-content .filter {
        width: 100%;
        height: 50px;
        column-gap: 8px;
        row-gap: 8px;
        padding: 10px;
    }

    .content--portfolio-photo-site-area a {
        width: 300px;
        height: 200px;
    }

    .services .serv-content .card {
        width: 200px;
        margin-bottom: 20px;
    }

    /* .mediaSocial {
        left: -85%;
    } */


}

@media (max-width: 690px) {

    .services .serv-content .card {
        width: 100%;
        margin-bottom: 20px;
    }

    .content--portfolio-photo-site-area a {
        width: 250px;
        height: 170px;
    }

    .btn--Btn {
        display: none;
    }

    /* .mediaSocial {
        left: -570px;
    } */

    .about .about-content .left img {
        width: 80%;
        height: 50%;
    }

    .menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 100px;
        right: 0px;
        background: linear-gradient(to right, var(--DarkOne), var(--greenOne));
        transition: 0.6s;
        z-index: 99000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        height: calc(100vh - 100px);
        visibility: visible;
        overflow-y: auto;
    }

    .menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        /* border-bottom: 2px solid rgba(0, 0, 0, 0.05); */
    }

    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
        border: none;
        font-weight: 500;
        text-shadow: 1px 1px 1px #000;
        text-transform: uppercase;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }

    #hamburger {
        border-top: 2px solid;
        width: 35px;
        margin-top: 4px;
    }

    #hamburger::before {
        width: 30px;
    }
    #hamburger::after {
        width: 30px;
    }

    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        height: 2px;
        background: currentColor;
        margin-top: 6px;
        transition: 0.5s;
        position: relative;
        box-shadow: 0 0 2px #000;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -8px;
    }

    .home-content--left .text-2 {
        font-size: 2.3rem;
    }

}

@media (max-width: 500px) {


    .home-content--left .text-2 {
        font-size: 1.5rem;
    }

    .home-content--left .text-3 {
        font-size: 1.1rem;
    }

    .about .title::after,
    .services .title::after,
    .portfolio .title::after,
    .contact .title::after {
        width: 70vw;
    }


    .port-content .filter {
        width: 100%;
        height: 50px;
        column-gap: 8px;
        row-gap: 8px;
        padding: 10px;
    }

    .filter .item {
        font-size: 60%;
    }

    .benefits .card-benefit p {
        font-size: 11px;
    }

    .benefits .card-benefit i {
        font-size: 20px;
    }

    .about .about-content .right .text {
        font-size: 24px;

    }

}

@media (max-width:415px) {
    .content--portfolio-photo-site-area a {
        width: 100%;
    }

    .content--portfolio-photo-info {
        width: 65%;
    }

    .about .about-content .right .text {
        font-size: 22px;
    }

    .mediaSocial {
        right: 2%;
    }
}

@media (max-width:405px) {

    .about .about-content .right .text {
        font-size: 20px;
    }
    
    .mediaSocial {
        left: -87%;
    }
}

/* ::-webkit-scrollbar {
    background-color: #01A5B1;
} */

body::-webkit-scrollbar {
    width: 12px;
    /*largura do scroll*/
}

body::-webkit-scrollbar-track {
    background: #1B1E25;
    /* cor do background */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--greenOne);
    /* cor do thumb */
    border-radius: 20px;
    border: 3px solid #1B1E25;
}

/* animação ScrollReveal */
.efectScroll {
    visibility: hidden;}